.trash{
    fill: #b71b1bcc;
    cursor: pointer;
}
.listGroup{
    width: 78%;
    padding: 40px 0;
    margin: 0 auto;
}
.name{
    cursor: pointer;
    width: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.view{
    fill : #900690;
    cursor: pointer;
}