.search{
    width:450px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.button{
   background-color: #8c00c4;
   color: white;
   border : none;
   &:hover{
    background-color: #e1beee;
   }
}
.errorMessage{
    color:#d10606;
    font-size: 14px;
}